
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2B2C2F;
  color: #fff;
}

.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
  margin-left: 250px;
  margin-right: 100px;
}




.tooltip-container {
  position: absolute;
  top: 5px;
  left: 8px;
  width: 100px;
}

.tooltip-text {
  visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    width: 125px;
    z-index: 1;
    bottom: 4%;
    left: 60%;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: small;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}


.sidebar {
  width: 200px;
  background-color: #252735;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding-top: 20px;
  transition: margin-left 0.3s;
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px 0;
  background-color: #2B2C2F;
  
}

.chats {
  flex: 1;
  overflow-y: auto;
  padding-right: 10px;
  margin-bottom: 15px;
  scroll-behavior: smooth;
  margin: 10px 30px;
}

.chat {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
}


.chat.incoming {
  flex-direction: row;
}

.chat.outgoing {
  flex-direction: row-reverse;
  
}

.chatImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 0 10px;
}

.chatImage {
  max-width: 200px;
  border-radius: 10px;
  margin: 5px 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2B2C2F; }

::-webkit-scrollbar-thumb {
  background-color: #000; 
  border-radius: 10px;
  border: 2px solid #2B2C2F; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #333; 
}

* {
  scrollbar-width: thin;
  scrollbar-color:  #4b4c51 #2B2C2F; 
}


.txt {
  background-color: #4b4c51;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 70%;
  word-wrap: break-word;
  line-height: 1.4;
  white-space: pre-wrap;
}

.chatFooter {
  display: flex;
  align-items: center;
  margin-top: 2px;
  padding: 10px;
  background-color: #202123;
  border-radius: 20px;
  position: relative;
  margin-left: 50px;
  margin-right: 100px;
  
}

.inp {
  display: flex;
  align-items: center;
  flex: 1;
  margin-right: 10px;
  position: relative;
  
}

.inp .plus {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

.inp .plus img {
  width: 25px;
  height: 25px;
}

.chatFooter .chatTextarea {
  width: 100%;
  font-size: 1.4rem;
  padding: 10px;
  resize: none;
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
  max-height: 7em; 
  min-height: 0.5em;
  overflow-y: auto;
  border-radius: 10px;
}

/* Send Button Styling */
.send {
  background: none;
  border: none;
  cursor: pointer;
}

.send img {
  width: 25px;
  height: 25px;
}

.filePreviews {
  display: flex;
  gap: 10px; 
  margin-right: 10px; 
}

.filePreview {
  position: relative; 
}

.previewImage {
  width: 40px; 
  height: 40px; 
  border-radius: 4px; 
}


.imagePreviewContainer {
  position: relative;
  display: inline-block;
  border-radius: 5px;
}

.imagePreviewInChatTab {
  display: flex;
  align-items: center;
}

.smallPreviewImage {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 5px;
}

.clearPreview {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  font-size: 12px;
}


.fileLink {
  color: #0084ff;
  text-decoration: none;
}

.fileLink:hover {
  text-decoration: underline;
}


.user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.dropdown {
  position: absolute;
  top: 70px;
  right: 20px;
  background-color: #33374b;
  border-radius: 8px;
  width: 150px;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.dropdown ul {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}

.dropdown .list {
  padding: 10px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.dropdown .list:hover {
  background-color: #44485c;
}
