/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  margin-bottom: 10px;
  background-color:#2B2C2F;
  color: #fff;
}

.main {
  min-height: calc(80vh - 17rem);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 2rem 8rem;
}

.chatFooter {
  margin-top: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inp {
  padding: 0.5rem;
  font-size: 2rem;
  background: #202123;
  display: flex;
  align-items: center;
  border-radius: 1.8rem;
  width: 68rem;
  position: relative;
}

.inp > input {
  width: calc(100% - 2rem);
  outline: none;
  padding: 1.25rem;
  color: white;
}

.add {
  height: 3rem;
  width: 3rem;
}

.inp > input,
.send,
.add,
.plus {
  background: transparent;
  border: none;
  margin: 0.25rem;
}

.send {
  margin-right: 2.5rem;
}

.chats {
  overflow: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  max-width: 70rem;
  height: calc(100vh - 22rem);
  margin-bottom: 2rem;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none;
}

.chats::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.chat {
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 1.7rem;
  align-items: center;
  display: flex;
}

.chatImg {
  object-fit: cover;
  width: 3.5rem;
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.outgoing {
  width: fit-content;
  border-radius: 0.5rem;
  align-self: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

.incoming {
  width: fit-content;
  border-radius: 0.5rem;
  align-self: flex-start;
  justify-content: flex-start;
  background: rgba(28, 30, 58, 1);
  margin-right: auto;
}

/* Preview section inside prompt area */
.imagePreviewInChatTab {
  display: flex;
  align-items: center;
  margin-left: 5px ; /* Add margin for spacing */
  justify-content: flex-start;
  padding: 5px;
  background-color: #2e2e2e;
  border-radius: 8px;
  max-width: 100%;
}

.smallPreviewImage {
  max-width: 50px;
  max-height: 50px;
  margin-right: 8px;
}

.clearPreview {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  color: black;
}

.textareaInput {
  width: calc(100% - 2rem);
  outline: none;
  padding: 1rem;
  color: white;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  line-height: 1.5;
  resize: none; /* Prevent user resizing manually */
  overflow-y: hidden; /* Hide scroll until necessary */
}

.icon {
  width: 50px; /* Increase the width */
  height: 50px; /* Increase the height */
  cursor: pointer; /* Optional: change cursor to pointer */
}

