.container {
    width: 100vw;
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: space-between;
    background: #5A4bff; /* Light theme */
    padding: 15px 7%;
  }
  
  .toggle-icon {
    width: 40px;
    cursor: pointer;
    margin-left: 40px;
  }
  
  .container.light {
    background:#F7F7F8; /* Dark theme */
  }
  
  .container.dark {
    background: #5A4bff; /* Light theme */
  }
  